<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <checkout>
            <payfilter>
                <disable_ext>0</disable_ext>
            </payfilter>
        </checkout>
    </default>
</config>
